POSTGRES_DB="ecms"
POSTGRES_USER="ecms"
POSTGRES_PASSWORD="change-me"

DATABASE_URL="postgresql://ecms:change-me@pgbouncer:6432/ecms?pgbouncer=true"
DIRECT_URL="postgresql://ecms:change-me@postgres:5432/ecms"
JWT_SECRET="replace-with-a-strong-secret"

REDIS_ENABLED="true"
REDIS_HOST="redis"
REDIS_PORT="6379"
REDIS_DB="0"
REDIS_PASSWORD="change-me"

THROTTLE_TTL_MS="60000"
THROTTLE_LIMIT="300"
THROTTLE_AUTH_TTL_MS="60000"
THROTTLE_AUTH_REGISTER_LIMIT="10"
THROTTLE_AUTH_VERIFY_LIMIT="20"
THROTTLE_AUTH_RESEND_LIMIT="10"
THROTTLE_AUTH_LOGIN_LIMIT="20"

AUTH_LOGIN_PROFILE_CACHE_TTL_MS="15000"
AUTH_LOGIN_FAST_FAIL_TTL_MS="3000"
AUTH_PASSWORD_HASH_ROUNDS="10"

REQUEST_LOG_SLOW_MS="1000"
REQUEST_LOG_SAMPLE_RATE="0.02"

LOAD_TEST_MODE="false"
WEB_CONCURRENCY="0"
PORT="3000"

MONGODB_URI="mongodb+srv://<username>:<password>@<cluster-url>/"
MONGODB_DB="ecms"